/**
  CMU TREBLEMAKERS WEBSITE
  COPYRIGHT DEREK BROWN 2016
  ALL RIGHTS RESERVED.
**/
/** FONTS **/
@font-face {
  font-family: 'COCOGOOSE';
  src: url("font/COCOGOOSE.eot");
  src: local("COCOGOOSE"), url("font/COCOGOOSE.eot?#iefix") format("embedded-opentype"), url("font/COCOGOOSE.woff") format("woff"), url("font/COCOGOOSE.ttf") format("truetype"), url("font/COCOGOOSE.svg#COCOGOOSE") format("svg");
  font-weight: normal;
  font-style: normal; }

h1 {
  font-family: 'COCOGOOSE', sans-serif; }

/** BODY **/
body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%; }

section {
  position: relative;
  width: 100%; }

/** COVER **/
section#cover iframe {
  max-height: 100vh !important;
  pointer-events: none; }

section#cover .cover_title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media (min-width: 760px) {
    section#cover .cover_title {
      height: 85vh !important;
      align-items: flex-end !important; } }
  section#cover .cover_title img {
    width: 400px;
    max-width: 80%; }
  section#cover .cover_title .text {
    height: 130px;
    text-align: left;
    vertical-align: top;
    font-size: 16pt !important;
    font-family: 'COCOGOOSE', sans-serif;
    color: #fff !important; }

/** MENU **/
.uk-navbar {
  height: 60px; }
  .uk-navbar .uk-navbar-nav li {
    height: 60px; }
    .uk-navbar .uk-navbar-nav li a {
      height: 60px;
      line-height: 60px;
      font-size: 16pt !important;
      font-family: 'COCOGOOSE', sans-serif; }

/** ABOUT **/
section#about {
  background-color: #444; }
